{% extends 'main.html' %}

{% block content %}

<style>
    .home-container {
        display: grid;
        /* two columns */
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>

<h1>Home Page</h1>

<div class="home-container">

    <div>
        <h3>Topics<h3>
        <hr>

        <div>
            <!-- route to topics -->
            <a href="{% url 'home' %}">All Topics</a>
        </div>

        {% for topic in topics %}
        <div>
            <!-- route to topics -->
            <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a>
        </div>
        {% endfor %}
    </div> 

    <div>
        <h5>{{room_count}} active rooms</h5>
        <a href="{% url 'create-room' %}">New Room</a>

        {% for room in rooms %}

            <div>
                {% if request.user == room.host %}
                <a href="{% url 'update-room' room.id %}">Edit</a>
                <a href="{% url 'delete-room' room.id %}">Delete</a>
                {% endif %}
                <!-- link room w/ messages -->
                <span>@{{room.host.username}}</span>
                <h5>{{room.id}} -- <a href="{% url 'room' room.id %}">{{room.name}}</h5></a>
                <small><strong>TOPIC</strong>: {{room.topic.name}}</small>
                <br>
                <hr>
            </div>

        {% endfor %}
    </div>

    <div>
        <h3>Recent Activity</h3>
        <hr>

        {% for message in recent_messages %}
        <div>
            <span>@{{message.user}}</span>
            <p>{{message.body}}</p>
            <hr>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}